<h1>Yo dawg... its blog time!</h1>
<p>This is where you first land on our awesome app.  Looks homey right?</p>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %>